---
http_interactions:
- request:
    method: post
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items
    body:
      encoding: UTF-8
      string: '{"isArchived":false,"isDraft":false,"fieldData":{"name":"Test 1"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TEST_API_TOKEN>
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"106-pk4wt4XqpT/6zjCjxxs18JQ4CtA"
      Retry-After:
      - '60'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Response-Time:
      - 257.152ms
    body:
      encoding: UTF-8
      string: '{"id":"656ff6a710af3ebbe278d1ce","cmsLocaleId":"655276ef2d7dfc2d8eef35a0","lastPublished":null,"lastUpdated":"2023-12-06T04:20:55.663Z","createdOn":"2023-12-06T04:20:55.663Z","isArchived":false,"isDraft":false,"fieldData":{"name":"Test
        1","slug":"test-1-50b7f"}}'
  recorded_at: Wed, 06 Dec 2023 04:20:55 GMT
- request:
    method: post
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items/publish
    body:
      encoding: UTF-8
      string: '{"itemIds":["656ff6a710af3ebbe278d1ce"]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TEST_API_TOKEN>
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3d-xzmRQSORA/fCfiwQFHiInQ05mbc"
      Retry-After:
      - '60'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Response-Time:
      - 305.564ms
    body:
      encoding: UTF-8
      string: '{"publishedItemIds":["656ff6a710af3ebbe278d1ce"],"errors":[]}'
  recorded_at: Wed, 06 Dec 2023 04:20:56 GMT
[...]
- request:
    method: get
    uri: https://api.webflow.com/v2/collections/655276efe9424bcefd3231a2/items?limit=3&offset=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TEST_API_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"391-SpWgdzIVKvwc7HbB2y30tN8vVnI"
      Retry-After:
      - '52'
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '51'
      X-Response-Time:
      - 29.730ms
    body:
      encoding: UTF-8
      string: '{"items":[{"id":"656ff6aeb121aa2f8f0fdd04","cmsLocaleId":"655276ef2d7dfc2d8eef35a0","lastPublished":"2023-12-06T04:21:03.222Z","lastUpdated":"2023-12-06T04:21:03.222Z","createdOn":"2023-12-06T04:21:02.156Z","isArchived":false,"isDraft":false,"fieldData":{"name":"Test
        4","slug":"test-4-98475"}},{"id":"656ff6ac10e9124b1c3d7055","cmsLocaleId":"655276ef2d7dfc2d8eef35a0","lastPublished":"2023-12-06T04:21:01.349Z","lastUpdated":"2023-12-06T04:21:01.349Z","createdOn":"2023-12-06T04:21:00.238Z","isArchived":false,"isDraft":false,"fieldData":{"name":"Test
        3","slug":"test-3-ae1cf"}},{"id":"656ff6aa1ba43b5ab6ade65e","cmsLocaleId":"655276ef2d7dfc2d8eef35a0","lastPublished":"2023-12-06T04:20:59.425Z","lastUpdated":"2023-12-06T04:20:59.425Z","createdOn":"2023-12-06T04:20:58.313Z","isArchived":false,"isDraft":false,"fieldData":{"name":"Test
        2","slug":"test-2-99c4a"}}],"pagination":{"limit":3,"offset":0,"total":22}}'
  recorded_at: Wed, 06 Dec 2023 04:21:03 GMT
recorded_with: VCR 6.2.0
